<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Ecommerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
              <% if(user) {%> 
            <li class="nav-item active">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/info">Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><button type="button" class="btn btn-sm btn-outline-light">LogOut</button></a>
              </li>
            <% } else { %>
            <li class="nav-item active">
                <a class="nav-link" href="/signin">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
              </li>
              <% } %>
          </ul>
        </div>
      </nav>

    <div class="container">

        <% if (signupMessage  && signupMessage.length > 0) { %>
            <div class="alert alert-danger" role="alert"><%= signupMessage %></div>
            <% } %>
            
        <% if (signinMessage  && signinMessage.length > 0) { %>
                <div class="alert alert-danger" role="alert"><%= signinMessage %></div>
                <% } %>
                
                
                
            <%- body %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.6/ejs.min.js"></script>
</body>
</html>